<div *ngIf="display" id="message-container">
  <h1>{{name}}</h1>
  <button (click)="setDisplaySuccesses(true)">Successes ({{successResults.length}})</button>
  <button (click)="setDisplayFailures(true)">Errors ({{failureResults.length}})</button>
  <div id="message-display">
    <div *ngIf="displaySuccesses">
      <ul>
        <li *ngFor="let success of successResults">
          <a [href]="success.url" target="_blank">{{success.url}}</a>
          <ul>
            <li *ngFor="let message of success.successMessages">
              {{message}}
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div *ngIf="displayFailures">
      <ul>
        <li *ngFor="let failure of failureResults">
          <a [href]="failure.url" target="_blank">{{failure.url}}</a>
          <ul>
            <li *ngFor="let message of failure.errorMessages">
              {{message}}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
